.img1 {
  background-image: url(../public/assets/animeWallpaper.jpeg);
  height: 100vh;
  background-size: cover;
}

.img2 {
  background-image: url(../public/assets/BackgroundImg.jpg);
  height: 100vh;
  background-size: cover;
}