.img1 {
  /* background-image: url(../public/assets/animeWallpaper.jpg); */
  width: 100vh;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.img2 {
  /* background-image: url(../public/assets/BackgroundImg.jpg); */
  width: 100vh;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}