   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: consolas;
   }

   body {
     background-color: black;
     color: white;
     background-repeat: no-repeat;
     background-position:
   }

   .oneAnime {
     /* border: 1px solid black; */
     /* background-color: rgb(51, 48, 48);   */
     text-align: left;
     width: 100%;
     height: 100%;
     margin: 5px;
     padding: 5px;
     object-fit: cover;
   }


   .borderBottom {
     border-bottom: 1px dotted rgb(41, 228, 135);
     padding-bottom: 20px;
     padding-top: 20px;
   }

   container {
     width: 100%;
   }

   @media (min-width: 576px) {
     .container {
       max-width: 540px;
     }
   }

   @media (min-width: 768px) {
     .container {
       max-width: 720px;
     }
   }

   @media (min-width: 992px) {
     .container {
       max-width: 960px;
     }
   }

   @media (min-width: 1200px) {
     .container {
       max-width: 1140px;
     }
   }

   @media (min-width: 1452px) {
     .container {
       max-width: 1360px;
     }
   }