/* body {
  background-image: url('/assets/Background\ Img.jpg');
  margin: 15px;
  margin-top: 50px;
  opacity: 0.6;

}

.login-form,
.login-form * {

  box-sizing: border-box;
  font-family: sans-serif;
}

.login-form {
  max-width: 350px;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba (0, 0, 0, 0.15);
  padding: 15px;
  background: black;
}

.login-form_logo {
  padding: 10px;
  background: rgba (0, 0, 0 0.25);
}

.login-form_logo {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}


.register-form,
.register-form * {

  box-sizing: border-box;
  font-family: sans-serif;
}

.register-form {
  max-width: 350px;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba (0, 0, 0, 0.15);
  padding: 15px;
  background: gold;
}

.register-form_logo {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
} */
